
#btn:hover
{
    background-color: white;
    border-radius: 150px;
    color: black;

}
#btn
{
    color: white;
}
#centre
{
    margin-top: auto;
}
.card:hover{
    transition: 0.6s;
    transform: scale(1.1);
}